<div class="banner">
  <div class="container">
    <strong>
      <a href="{{ site.repo }}/blob/master/CHANGELOG.md">See what's new in v{{pkg 'version'}}</a>
    </strong>
    To hear what's new from {{site.brand}} core team, <a href="{{site.blog}}">visit the blog</a>.
  </div>
</div>
